<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://welcometovietnam20171119115849.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>welcometovietnam20171119115849.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WelcomeToVietnam20171119115849</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WelcomeToVietnam20171119115849</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AreadbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WelcomeToVietnam.Models.AreadbContext, WelcomeToVietnam" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AdminDbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WelcomeToVietnam.Models.AdminDbContext, WelcomeToVietnam" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UserdbContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WelcomeToVietnam.Models.UserdbContext, WelcomeToVietnam" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UserTravelDbContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WelcomeToVietnam.Models.UserTravelDbContext, WelcomeToVietnam" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HoteldbContext" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=7ab5ce8d-a356-409b-b659-a8320039fb44.sqlserver.sequelizer.com;Initial Catalog=db7ab5ce8da356409bb659a8320039fb44;Integrated Security=False;User ID=ntkuiuyzduvrzfeu;Password=igY3mBcLKQDQtmPtqekDkL3an3NUrJ8q2WNsXNFcRVkLrpK6hDzZbMLDmYPsWpta;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HoteldbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Hotel.csdl|res://*/Models.Hotel.ssdl|res://*/Models.Hotel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=7ab5ce8d-a356-409b-b659-a8320039fb44.sqlserver.sequelizer.com;initial catalog=db7ab5ce8da356409bb659a8320039fb44;integrated security=False;User ID = ntkuiuyzduvrzfeu;Password=	igY3mBcLKQDQtmPtqekDkL3an3NUrJ8q2WNsXNFcRVkLrpK6hDzZbMLDmYPsWpta;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AdminDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AreadbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HoteldbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UserdbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UserTravelDbContext-Web.config Connection String" />
  </ItemGroup>
</Project>