p
{
    color:white;
}
body{
    line-height:1.8;
    font: 400 15px Lato, sans-serif;
}
.navbar {
      background : transparent;
      margin-bottom: 0;
      z-index: 9999;
      border: 0;
      font-size: 11px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  .navbar-fixed-top.scrolled {
  opacity : 0.5;
  transition: ease-in-out 200ms linear;
}
  .navbar-fixed-top:hover
  {
      opacity : 1;
  }